.md-typeset__scrollwrap {
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;
}

.center {
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;
}

.mermaid {
    display: flex;
    align-items: center;
}

.md-typeset code, .md-typeset pre {
	background-color: white;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;

}
