.md-typeset__scrollwrap {
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;
}

.center {
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    justify-content:center;
}

.mermaid {
    display: flex;
    align-items: center;
}

.md-typeset code, .md-typeset pre {
	background-color: white;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: .8rem;
}

pre b {
    color: blue;
}

.md-button-play {
    position: absolute;
    top: 300px;
    right: 50px;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    height: 25px;
    visibility: visible;
}

.md-button-pause {
    position: fixed;
    top: 300px;
    right: 50px;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    height: 25px;
    visibility: hidden;
    opacity: 50%;
}

.md-range {
    position: absolute;
    top: 310px;
    right: 170px;
    visibility: visible;

}
.md-range-value {
    position: absolute;
    top: 340px;
    right: 100px;
    visibility: visible;
}

#transposeText {
    position: absolute;
    top: 357px;
    right: 170px;
}

#keyUp {
    cursor: pointer;
    position: absolute;
    top: 380px;
    right: 120px;
}

#keyDown {
    cursor: pointer;
    position: absolute;
    top: 380px;
    right: 80px;
}

.transpose {
    visibility: visible;
}

#transposeValue {
    position: absolute;
    top: 400px;
    right: 80px;
}